.commonTopbar{
    width: 100%;
    height: 35px;
    background: #2a3a4a;
    border-bottom: 1px solid #ddd;
    /*position: relative;*/
    font-size: 12px;
}
.Topbar_right{
    float: right;
    /*height: 30px;*/
    /*display: flex;*/
    word-spacing: 1px;
}
.Topbar_left{
    float: left;
    word-spacing: 1px;
    /*height: 30px;*/
}
.commonTopbar .blankspace {
    width: 1000px;
    margin: 0 auto;
}
.commonTopbar #commonTopbar_login, .commonTopbar .help-con, .commonTopbar   #commonTopbar_mymenu, #commonTopbar_lan, .commonTopbar #commonTopbar_help{
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    float: left;
    position: relative;
    display: inline-block;
}
.commonTopbar .Topbar_left,  #commonTopbar_home{
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    float: left;
}
/*#shouyeicon{*/
/*    height: 40px;*/
/*    float: left;*/
/*}*/

#commonTopbar_mymenu:hover .drop-content {
    visibility: visible;
    opacity: 1;
}
#help_btn, #commonTopbar_tomyCentre, .callhelp, #commonTopbar_lan, #commonTopbar_login{
    cursor: pointer;
    padding: 0px 10px;
    /*border-radius: 5px;*/
    transition: 0.5s;
    height: max-content;
}

.drop-content1 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    z-index: 1;
    width: 100%;
    border-bottom: #4a5a6a;
    border-radius: 3px;
}
.drop-menu1 :hover .hover-btn1 , #commonTopbar_mymenu:hover #commonTopbar_tomyCentre, #commonTopbar_help:hover #help_btn{
    color: #fff;
    background: #3a4a5a;
}
.drop-menu1:hover .drop-content1, #commonTopbar_mymenu:hover .drop-content1 , #commonTopbar_help:hover .drop-content1{
    visibility: visible;
    opacity: 1;

}
.drop-content1 a {
    display: block;
    /*border-bottom: 1px dashed #4a5a6a;*/
    padding: 2px 0;
    text-align: center;
    background: #3a4a5a;
    color: #eee;
}

a {
    text-decoration: none;

    color: #eee;
    transition: 0.5s;
}
body {
    margin: 0px;
    padding: 0px;

}
span{
    color: #eee;
}